@import components/mixine

body
  font-family: "Maven Pro", sans-serif
  margin: 0

h2
  +h2
  margin: 0

p
  font-size: 16px
  line-height: 28px   
  font-weight: 400
  text-align: center

a, li
  list-style: none
  text-decoration: none

header
  +gradient("../img/Background.jpg")
  min-height: 500px

li
  padding-right: 20px

.span
  font-size: 14px
  letter-spacing: 1px
  line-height: 32px
  text-transform: uppercase
  font-weight: 700


.flex-between
  display: flex
  justify-content: space-between


.navigation
  padding: 20px
  a
    font-size: 16px
    line-height: 19px
    font-weight: 500
  .logo
    align-items: center
    span
      padding-left: 10px
      padding-top: -10px
  span 
    font-size: 30px
    letter-spacing: 6px
    line-height: 29px
    font-weight: 700
    align-items: center

// .dark-bgc 
//   display: none
//   position: fixed
//   top: 0
//   left: 0
//   width: 100%
//   height: 100%
//   background-color: rgba(0, 0, 0, 0.3)
//   backdrop-filter: blur(4px)
//   z-index: 1
// .flex 
//   position: relative
//   display: flex
//   justify-content: space-between
//   align-items: center
//   // column-gap: 10px
// .burger 
//   width: 50px
//   height: 100%
//   cursor: pointer
// .bord 
//   display: block
//   margin: 4px
//   width: 30px
//   height: 5px
//   border-radius: 2px
//   background-color: #fff
//   transition: all 1s ease
// .menu 
//   position: absolute
//   top: 0
//   left: -100% 
//   z-index: 2
//   transition: all .5s ease
// .cancel 
//   position: absolute
//   top: -10px
//   right: 5px
//   cursor: pointer
// .top-line 
//   padding: 15px 10px
// .menu li 
//   padding: 15px 10px

// @media screen and (min-width: 500px) 
//   .burger 
//     display: none
//   .top-line 
//     padding: 0 10px
//   .menu 
//     position: static
//     display: flex
//     justify-content: space-between
//     column-gap: 10px
//   .menu li 
//     padding: 15px 10px
//   .cancel 
//     display: none

.light
  a, span
    color: #ffffff
    transition: all 1s ease  
  .a
    +btn($fixed: false)
  .a:hover
    background-color: #ffffff
    color: #6e45e2
  li 
    a:hover
      font-size: 20px

.dark 
  a, span
    color: #756edc
    transition: all 1s ease  
  .a
    +btn($fixed: true)
    padding-bottom: 15px
    width: 150px
  .a:hover
    +btn($fixed: false, $empty: true)
    // width: 190px
    padding-bottom: 15px
  li 
    a:hover
      font-size: 20px


.pricing 
  h1
    font-size: 86px
    letter-spacing: -3px
    line-height: 72px
    color: #ffffff
    font-weight: 500
    text-align: center
  p
    color: #ffffff
  span
    color: #ffffff
    text-align: center

.plan
  span, p
    color: #9fa4af
  // .span:before
  //   content: ""
  //   width: 24px
  //   height: 1px
  //   background-color: #6e45e2
  //   right: 2px
  //   top: 2px

.control
  +gradient("../img/Map.png")
  min-height: 300px
  text-align: center
  p
    padding-top: 50px
    color: #ffffff
  h2
    color: white
    padding-bottom: 20px
  a
    +btn($fixed: true)
    padding-bottom: 15px
  .gap 
    margin-right: 20px
  a:hover
    transition: all 1s ease  
    +btn($fixed: false, $empty: true)
    width: 190px
    padding-bottom: 15px

  
.card
  // justify-content: space-between
  figure
    border-radius: 30px
    background-color: #ffffff
    border: 1px solid #d7dbe8
  figure:hover
    transition: all 1s ease
    border-radius: 30px
    filter: drop-shadow(0 0 46px rgba(204,204,223,0.71))
    background-color: #ffffff
  figcaption
    align-items: center
  img
    padding-top: 20px
    justify-content: center
  a
    text-align: center
    padding-bottom: 15px
    +btn($fixed: true)
    // align-items: center
    margin-left: 70px
    margin-bottom: 20px
  a:hover
    transition: all 1s ease  
    +btn($fixed: false, $empty: true)
    width: 190px
    padding-bottom: 15px
.personal
  font-size: 14px
  letter-spacing: 1px
  line-height: 32px
  text-transform: uppercase
  color: #9fa4af
  font-weight: 700
.price
  b
    font-size: 60px
    letter-spacing: -2px
    line-height: 72px
    color: #4f4f6f
    font-weight: 500
    text-align: center
    // position: relative
.description
  font-size: 14 px
  line-height: 25px
  color: #9fa4af
  font-weight: 400
  text-align: center
// .currency
  // position: absolute
  // top: 10px

footer
  hr
    margin: 20px
    opacity: 0.200
    background-color: #bdbdc2
  p
    opacity: 0.502
    font-size: 14px
    line-height: 19px
    color: #6a6a77
    font-weight: 500
    text-align: left
    padding-left: 20px
  .svg
    opacity: 0.502
    font-size: 16px
    line-height: 19px
    color: #6a6a77
    font-family: "Font Awesome"
    text-align: right
    padding-top: 18px
    padding-right: 20px
    svg
      padding-left: 10px